{% load static %}
<!DOCTYPE html>
<html>
  <head>
   
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    <title>Wallet</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleBASE.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/title.png' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->

    <!-- Font Awesome JS -->    
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>  

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>    
  

    {% block headerinclude %}
    {% endblock %}

  </head>
<!-- inserted -->

<!-- ends here -->

  <body>
    <nav class="navbar navbar-light bg-light" style="height: 80px;">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="navbar-brand">
          <img src="{% static 'img/btitle.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Wallet
        </div>
        <div>
          <ul class="navbar-nav flex-row">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              <li><a class="nav-link" href="{% url 'basic_app:dashboard' %}">Dashboard</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a></li>
              <li class="nav-item ml-3"><a class="nav-link" href="{% url 'basic_app:register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    
    
    
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>


  </body>
</html>
