{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}
<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
<div class="container custom-container">
       <div class="jumbotron">
    <h1>User Dashboard</h1>
<p>Welcome, {{ request.user.email }}!</p>
<p>Your Balance: {{ request.user.userprofileinfo.balance }}</p>
<table>
    <tr>
        <th>User</th>
        <th>Balance</th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.user.email }}</td>
        <td>{{ profile.point_balance }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</body>
</html>
{% endblock %}