{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}
    <div class="container custom-container">
        <div class="jumbotron">
            <h1>User List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>point_balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.user.email }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.point_balance }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" id="awardPointsButton">Award Points</button>
        <div class="modal" id="awardPointsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Award Points</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Add the form elements for awarding points -->
                  <form method="post" action="">
                    {% csrf_token %}
                    <!-- Form fields for awarding points go here -->
                    <div class="form-group">
                      <label for="recipient">Recipient:</label>
                      <select class="form-control" id="recipient" name="recipient">
                        <!-- Add options for recipient selection -->
                        <!-- You can dynamically populate the options using Django template tags -->
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="points">Points:</label>
                      <input type="number" class="form-control" id="points" name="points">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock %}
